@media screen and (max-width: 720px) {
    header{
        background-image: url("images/welcomeimage.jpg");
        color: aliceblue;
        height: 700px;
    }
    
    .logo{
        left: 15%;
    }
    
    .menu-options{
        left: 50%;
        top: 38px;
    }
    
    .welcome-banner{
        top: 150px;
        left: 60px;
    }
    
    .welcome-banner .heading{
        font-size: 50px;
        left: 10%;
    }
    
    .welcome-banner .sub-heading{
        top: 45%;
    }
    
    .welcome-banner .see-more-button{
        left: 35%;
        top: 65%;
        width: 35%;
        height: 8%;
    }
    
    .serch-text{
        left: 30%;
        top: 80%;
    }
    
    #bookSearch{
        left: 30%;
        top: 93%;
        width: 45%;
        height: 5%;
        font-size: 12px;
    }


    .book-categories{
        height: 2200px;
    }

    .book-categories .book-categories-head{
        left: 40%;
    }

    .book-categories .csebooks{
        top: 5%;
        height: 1000px;
    }

    .csebooks .csebookhead{
        left: 39%;
    }

    .csebooks .cse1 img{
        top: 9%;
        left: 10%;
        width: 35%;
        height: 350px;
    }

    .csebooks .cse2 img{
        top: 9%;
        left: 55%;
        width: 35%;
        height: 350px;
    }

    .csebooks .cse3 img{
        top: 50%;
        left: 10%;
        width: 35%;
        height: 350px;
    }

    .csebooks .cse4 img{
        top: 50%;
        left: 55%;
        width: 35%;
        height: 350px;
    }

    .csebooks .cseseemore{
        left: 41%;
        top: 90%;
    }

    .book-categories .eebooks{
        top: 51%;
        height: 1000px;
    }

    .eebooks .eebookhead{
        left: 39%;
    }
    
    .eebooks .ee1{
        top: 9%;
        left: 10%;
        width: 35%;
        height: 350px;
        
    }
    
    .eebooks .ee2{
        top: 9%;
        left: 55%;
        width: 35%;
        height: 350px;
    }
    
    .eebooks .ee3{
        top: 50%;
        left: 10%;
        width: 35%;
        height: 350px;
    }
    
    .eebooks .ee4{
        top: 50%;
        left: 55%;
        width: 35%;
        height: 350px;
    }
    
    .eebooks .eeseemore{
        left: 41%;
        top: 90%;
    }
    
}
